:root {
    --primaryfont: 'Oswald', serif;
    --main-font-color: black;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body,
html {
    height: 100%;

}

/* hero container with background */
.backg {
    background-image: url(https://img.freepik.com/free-vector/white-background-with-triangle-patterns_1017-18410.jpg?w=1800&t=st=1670677125~exp=1670677725~hmac=f484ef5fa4284f12485ab81614cb4ddb12bf7005b18eee1d6e8e0bdec5071eca);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Navbar */
.nav-link {
    font-family: var(--primaryfont);
    color: var(--main-font-color);
    font-size: 1.6rem;
    padding: 15px !important;
}

.nav-link:hover, .nav-link:focus {
    background-color: black;
    color: white !important; 
}
.logo {
    color: black;
    font-family: var(--primaryfont);
    font-size: 2.8rem;
    
}
/* Jumbotron */
.jumbotron {
    background: none;
    align-content: center;
    position: relative;
    top: 8%;
    min-height: 100svh;
    object-fit: cover;
}

.bio {
    align-items: center;
    justify-content: center;

}

.bio img {
    max-width: 300px;
    max-height: auto;
    border-radius: 50%;


}

.hero-copy {
    text-align: center;
    color: var(--main-font-color);
    font-family: var(--primaryfont);
    margin: 15px;
    padding: 15px;
    
}

.hero-copy h1{
    overflow: hidden !important;
}

.scroll-btn {
    padding: 8px;
    font-size: 24px;
    border-radius: 30px;
}

/* My work section */
.mywork {
    background-color: rgb(243, 243, 243);
    padding-bottom: 40px;
}

.heading {
    text-align: center;
    padding: 30px;
    font-family: var(--primaryfont);
    font-size: 3em;
}

.card {
    height: 500px;
    margin: 10px auto;
}

.card-img-top {
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    object-fit: cover;
    padding: 5px;
}

.card-body {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.card-text {
    font-size: 15px;
}

/* Skills section */
.skills {
    padding-bottom: 40px;
    background-color: rgb(237, 236, 236);
}

.skills-item {
    padding: 20px;
    border-radius: 12px;
}

.skills-item:hover,
.skills-item:focus {
    border: 2px solid !important;
}

/* About me section */

.about-me {
    background-image: url(https://img.freepik.com/free-vector/white-background-with-triangle-patterns_1017-18410.jpg?w=1800&t=st=1670677125~exp=1670677725~hmac=f484ef5fa4284f12485ab81614cb4ddb12bf7005b18eee1d6e8e0bdec5071eca);
}

.about-me-copy {
    padding: 20px;
}

.contact-form {
    padding: 30px;
}

/* Footer section */

.contacts {
    padding: 20px;
    background-color: black;
}

.contacts-item {
    padding: 20px;
    font-size: 24px;
    color: white;
}

button:hover, .btn:hover{
    box-shadow: 5px 5px 8px #888888;
}

.contacts-item:hover, .contacts-item:focus {
    font-size: 28px;
}
